<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Codes N Talks</title>
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<h2>
			<span th:text="${title}" th:remove="tag"></span>
		</h2>
		<h4 th:if="${successMsg}" th:text="${successMsg}">
				
		</h4>
		<div class="blogItem" th:each="blog : ${blogList}">
			<h3>
				<span th:text="${blog.headLine}"></span>
			</h3>
			<div>
				<ul>
					<li>
						Published: <span th:text="${blog.publishedOn}"></span>
					</li>
					<li>
						Author: <span th:text="${blog.author}"></span>
					</li>
				</ul>
			</div>
			<div>
				<span th:text="${blog.content}"></span>
			</div>
			<div>
				<a th:href="@{blog/{id}(id=${blog.id})}"
				>Edit Blog</a>
			</div>
		</div>
		<div>
			<a href="newBlog">
				Write new blog
			</a>
		</div>
	</body>
</html>
